
<div class="container">
    <div class="img-container">
        <img src="assets/img/burger.png" width="225px" alt="This is a Burger!" >
    </div>
    
    <h1>Eat Da Burger!</h1>
    
    <div>
        <div class="available-burgers">
            <h2>Available Burgers</h2>
                {{#each burgers}}
                    <li>
                        {{burger_name}}
                    </li>
                {{/each}}
        </div>
        <div class="memory-of-burgers">
            <h2>Burgers From The Past</h2>
                {{#each burgers}}
                    <li>
                        {{burger_name}}
                    </li>
                {{/each}}
        </div>
    </div>
    
    <form class="burger-form">
        <label for="burger-input">Add a delicious burger!</label><br>
        <input type="text" id="burger-input"><br>
        <button type="submit">Cook your burger!</button>
    </form>
</div>

<script>
        
</script>